#aboutUs .about-container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

#aboutUs .about-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#aboutUs .about-header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

#aboutUs .about-header p {
    font-size: 1.2em;
}

#aboutUs .about-section, #aboutUs .partners-section, #aboutUs .context-section {
    padding: 50px 20px;
    text-align: center;
    margin: 20px 0;
}

#aboutUs .about-section h2, #aboutUs .partners-section h2,#aboutUs  .context-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

#aboutUs .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#aboutUs .about-image {
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#aboutUs .about-text {
    max-width: 600px;
    text-align: left;
    font-size: 1.1em;
    color: #555;
}

#aboutUs .partners-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#aboutUs .partner {
    text-align: center;
    max-width: 300px;
}

#aboutUs .partner-image {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

#aboutUs .context-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    color: #666;
}

@media (max-width: 768px) {
    #aboutUsb .about-content {
        flex-direction: column;
        align-items: center;
    }

    #aboutUs .about-text {
        text-align: center;
    }

    #aboutUs .partners-content {
        flex-direction: column;
        align-items: center;
    }
}