
/*----------------------- TagList ---------------------------------------*/

#tagList {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease-in-out;
}

#tagList h5 {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

#tagList ul {
    list-style: none;
    padding: 0;
}

#tagList li {
    display: inline-block;
    margin: 8px;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(45deg, #ff0077, #00b0ff);
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

#tagList li:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff6600, #00ccff);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#tagList ul {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}